.sprites, .sprites .holder{
    border-color: hsl(120, 81%, 49%);
    background-color: hsl(120, 81%, 85%);
}

.binary, .binary .holder{
    border-color: black;
    background-color: grey;
}

.denary, .denary .holder{
    border-color: hsl(120, 81%, 49%);
    background-color: hsl(120, 81%, 85%);
}
